* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  background: url(Pictures/camping.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Archivo Black', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; 
  border: 0;
}

.startContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

header {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.icon{
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-top: 20px;
}

h1{
  font-size: 48px;
  color: #204028;
  display: inline-block;
  margin-bottom: 0px;
}

.description {
  font-family: 'Tinos', sans-serif;
  font-size: 16px;
  font-weight: 700;
  max-width: 500px;
  margin: 20px;
}

.hidden-description{
  display: none;
}

.formContainer{
  display: block;
  text-align: center;
}

select{
  margin: 0px;
  font-family: 'Tinos', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.form-item{
  background-color:white;
  padding: 2px 5px 2px 5px;
  color:  #204028;
  font-family: 'Tinos', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 0;
}

.city-state{
  color:  #204028;
   
}

.submitForm{
 text-align: left;
}

li {
  list-style-type: none;
}

.activityList-hidden {
  display: none;
}

.submitForm{
  width: 50px;
  background: #204028;
  color: white;
  text-align: center;
}

.startContainerAfterSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: moveSubmit;
          animation-name: moveSubmit;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: inline-block;
  margin: 10px 0px 0px 10px;
}
@-webkit-keyframes moveSubmit {
  0% {

  }
  100% {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
}
@keyframes moveSubmit {
  0% {

  }
  100% {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.js-forecast-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-family: 'Tinos', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.js-dailyWeather {
  max-width: 18%;
  padding: 15px 5px 15px 5px;
  margin: 0;
  background:white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 150px;
}
ul{
  padding: 0px;
  margin-top: 0px;
}

.weather-0{
  background-color: #e9fae6;
}

.weather-1{
  background-color: #e1eddf;
}

.weather-2{
  background-color: #d4ded3;
}

.weather-3{
  background-color: #cbd1cb;
}

.weather-4{
  background-color: #c2c4c2;
}
.temp {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.forecast-hidden {
  display: none;
}

.header-hidden {
  display: none;
}
.js-forecast-header{
  color: #204028;
  text-align: center;
  font-size: 26px;

}
.packListBackground{
  background:white;
  margin-top: 20px;
}
.js-activityList-header{
  color: #204028;
  font-size: 26px;
  display: block;
  margin: 10px;
}
h2{
  display: inline-block;
}

.packList{
  color: #204028;
  font-family: 'Tinos', sans-serif;
  margin-left: 10px;
}

.js-pack-list-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
}

a{
  text-decoration: none;
  color: white;
}

 .h1AfterSubmit{
    font-size: 38px;
 }
 .formItemAfterSubmit{
   font-size: 14px;
 }

 .date{
   font-weight: 700;
 }

 .bold{
   font-weight: 700;
 }
 .js-toDoList{
   padding: 5px;
   width: 250px;
 }
 .js-toDoContainer{
   font-family: 'Tinos', sans-serif; 
   margin: 10px;
   margin: 0 auto;
 }
 .js-addToDo{
   border-radius: 50px;
   border: 1px solid  #204028;
 }
 .js-add-button{
  border-radius: 50px;
  background-color: #204028;
  color: white;
  margin-bottom: 10px;
  border: 0;
 }


 .footerAfterSubmit{
   position: static;
   color:white;
   font-size: 12px;
   font-family: 'Tinos', sans-serif;
 }

 .js-error{
   color: #c4251a;
   margin: 0 auto;
   background-color: white;
   border: 1px solid #204028;
   width: 425px;
   text-align: center;
   margin-top: 10px;
   font-family: 'Tinos', sans-serif;
   border-radius: 50px;
 }

 .hidden-error{
  display: none;
 }
 @media screen and (-webkit-min-device-pixel-ratio: 2) {
  .js-forecast-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .js-dailyWeather {
    min-width: 150px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .startContainer {
    margin: 20px;
  }
  .formContainer{
    font-size: 16px;
  }
  h1{
    margin-top: 10px;
  }
  .js-forecast-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-items: center;
  }
  .js-dailyWeather {
    min-width: 150px;
  }
}

@media screen and (max-width: 760px) {
  .js-forecast-header{
    font-size: 20px;
  }
  .js-dailyWeather {
    max-width: 100px;
  }
}

@media screen and (max-width: 520px) {
  h1{
    font-size: 40px;
  }
  .form-item {
    font-size: 20px;
  }
}
