* {
  box-sizing: border-box;
}
body{
  background: url(Pictures/camping.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Archivo Black', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; 
  border: 0;
}

.startContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

header {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.icon{
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-top: 20px;
}

h1{
  font-size: 48px;
  color: #204028;
  display: inline-block;
}

.formContainer{
  display: block;
  text-align: center;
}

select{
  margin: 0px;
  font-family: 'Tinos', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.form-item{
  background-color:white;
  padding: 2px 5px 2px 5px;
  color:  #204028;
  font-family: 'Tinos', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 0;
}

.city-state{
  color:  #204028;
   
}

.submitForm{
 text-align: left;
}

li {
  list-style-type: none;
}

.activityList-hidden {
  display: none;
}

.submitForm{
  width: 50px;
  background: #204028;
  color: white;
  text-align: center;
}

.startContainerAfterSubmit {
  display: flex;
  flex-direction: column;
  animation-name: moveSubmit;
  animation-duration: 1s;
  display: inline-block;
  margin: 10px 0px 0px 10px;
}
@keyframes moveSubmit {
  0% {

  }
  100% {
    justify-content: flex-start;
  }
}

.js-forecast-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Tinos', sans-serif;
  justify-content: center;
}

.js-dailyWeather {
  max-width: 18%;
  padding: 15px 5px 15px 5px;
  margin: 0;
  background:white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  max-width: 150px;
}
ul{
  padding: 0px;
  margin-top: 0px;
}

.weather-0{
  background-color: #e9fae6;
}

.weather-1{
  background-color: #e1eddf;
}

.weather-2{
  background-color: #d4ded3;
}

.weather-3{
  background-color: #cbd1cb;
}

.weather-4{
  background-color: #c2c4c2;
}
.temp {
  align-self: flex-end;
}

.forecast-hidden {
  display: none;
}

.header-hidden {
  display: none;
}
.js-forecast-header{
  color: #204028;
  text-align: center;
  font-size: 26px;

}
.packListBackground{
  background:white;
  margin-top: 20px;
}
.js-activityList-header{
  color: #204028;
  font-size: 26px;
  display: block;
  margin: 10px;
}
h2{
  display: inline-block;
}

.packList{
  color: #204028;
  font-family: 'Tinos', sans-serif;
  margin-left: 10px;
}

.js-pack-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Tinos', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

 .h1AfterSubmit{
    font-size: 38px;
 }
 .formItemAfterSubmit{
   font-size: 14px;
 }

 .date{
   font-weight: 700;
 }

 .bold{
   font-weight: 700;
 }
 .js-toDoList{
   padding: 5px;
   width: 250px;
 }
 .js-toDoContainer{
   font-family: 'Tinos', sans-serif; 
   margin: 10px;
   margin: 0 auto;
 }
 .js-addToDo{
   border-radius: 50px;
   border: 1px solid  #204028;
 }
 .js-add-button{
  border-radius: 50px;
  background-color: #204028;
  color: white;
  margin-bottom: 10px;
  border: 0;
 }


 .footerAfterSubmit{
   position: static;
   color:white;
   font-size: 12px;
   font-family: 'Tinos', sans-serif;
 }

 .js-error{
   color: #c4251a;
   margin: 0 auto;
   background-color: white;
   border: 1px solid #204028;
   width: 425px;
   text-align: center;
   margin-top: 10px;
   font-family: 'Tinos', sans-serif;
   border-radius: 50px;
 }

 .hidden-error{
  display: none;
 }

 @media screen and (max-width: 570px) {
  .js-forecast-container{
    flex-direction: column;
    align-content: center;
  }
  .js-dailyWeather {
    min-width: 150px;
  }

}
@media screen and (max-width: 760px) {
  .js-forecast-header{
    font-size: 20px;
  }
  .js-dailyWeather {
    max-width: 100px;
  }
}

@media screen and (max-width: 520px) {
  h1{
    font-size: 40px;
  }
  .form-item {
    font-size: 14px;
  }
}
