* {
  box-sizing: border-box;
}
body{
  background: url(Pictures/camping.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Archivo Black', sans-serif;
  height: 100%;
  margin: 0;
}
.startContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 200px;
  padding: 10px;
}

header {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.icon{
  height: 40px;
  width: 40px;
  display: inline-block;
}

h1{
  font-size: 36px;
  color: #102114;
  display: inline-block;
}

.formContainer{
  display: block;
}

.form-item{
  border-radius: 50px;
  border: 1px solid #102114;
  background-color:white;
  text-align: center;
  padding: 6px;
  color:  #102114;
  margin: 5px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.activityList-hidden {
  display: none;
}

.submitForm{
  width: 50px;
}

.startContainerAfterSubmit {
  display: flex;
  flex-direction: column;
  animation-name: moveSubmit;
  animation-duration: 1s;
  display: inline-block;
  margin: 10px;
}
@keyframes moveSubmit {
  0% {
  }
  100% {
    justify-content: flex-start;
    margin: 10px;
  }
}

.js-forecast-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  justify-content: center;
  background-color: rgba(16,33,20, .6);
  margin-bottom: 0px;
}

.js-dailyWeather {
  max-width: 18%;
  border: solid 1px #4f1111;
  padding: 5px;
  margin: 5px;
  background:white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
ul{
  padding: 0px;
  margin-top: 0px;
}
.temp {
  align-self: flex-end;
}

.forecast-hidden {
  display: none;
}

.header-hidden {
  display: none;
}
.js-forecast-header{
  color:white;
}
.js-activityList-header{
  color:white;
}


.js-pack-list-container{
  background-color: rgba(16,33,20, .6);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}